.section-content {
  background: linear-gradient(45deg, #3a3a3a20, #00992a 60%);
  margin: 0 !important;
  padding: 0 !important;
  padding: 50px !important;
}

form {
  background: #ffffff10;
  backdrop-filter: blur(14px);
  padding: 3em;
  max-width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(14px);
  box-shadow: 20px 20px 40px -6px #3a3a3a20;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}
form p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px #3a3a3a20;
}
form p span {
  font-size: 2rem;
}
input,
.textarea {
  background: transparent;
  padding: 1em;
  margin-bottom: 2em;
  border: none;

  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px #3a3a3a20;
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px #3a3a3a20;
  width: 50%;
}
.textarea {
  border-radius: 5px;
  resize: none;
  padding-top: 20px;
  padding-bottom: 100px;
 }
input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
input[type="email"]:focus,
input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
input[type="submit"] {
  width: 150px;
  font-size: 2rem;
  background-color: #ffffff10;
  backdrop-filter: blur(14px);
  transition: 1s;
}
input[type="submit"]:hover {
  border: 1px solid #f4f4f4;
  background-color: #00992a40;
}
input[type="submit"]:hover {
  cursor: pointer;
}

input[type="button"]:active {
  background: rgba(255, 255, 255, 0.2);
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  opacity: 0.5;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
input:focus::placeholder {
  color: #333;
}
textarea:focus::placeholder {
  color: #333;
}
a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.footer {
  margin-top: 0 !important;
}
@media (max-width: 767px) {
  .section-content {
    padding: 10px 0 !important;
  }

  input,
  .textarea {
    width: 100%;
  }
}
